* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:0;
}

body {
  background: url('../assets/mapa-de-calor.png') no-repeat center fixed;
  background-size: cover;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  flex: 1;
}
