<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOBYDATA - Quem Somos</title>
  <link rel="stylesheet" href="../static/css/global.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/quemSomos.css">
</head>
<body>
  <nav>
    <a href="">Home</a>
    <a href="">Fale conosco</a>
  </nav>
  <div class="container-card-quem-somos">
    <div class="card-quem-somos">
      <div class="card-quem-somos-header">
        <h3>Quem Somos</h3>
      </div>
      <p>
        Uma equipe empenhada em oferecer soluções e ferramentas para o monitoramento
        em tempo real ou geração de relatório através de vídeos sobre a padrão de
        movimentação, aglomeração e controle de fluxo de pessoas.
      </p>
    </div>
  </div>
</body>
</html>
