body {
  background: #EEEFF3;
}
.container-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.container-title h2 {
  margin-top: 50px;
  font-family: Candara, sans-serif;
  font-size: 70px;
  color: #363C4C;;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}

.container-camera {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  background: #fff;
  height: 380px;
  max-width: 50%;
}

.container-img img{
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.container-search button{
  width: 180px;
  height: 50px;

  color: #fff;
  cursor: pointer;

  border-radius: 15px;
  border:0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background: #3d00e4 ;

  font-size: 25px;
  font-family: Candara, sans-serif;

  transition: background .5s;
}

.container-search button:hover {
  background: #1e0072 ;
  box-shadow: 2px 2px 10px rgba(109, 1, 252, 0.6);
}

[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
  background: #3d00e4;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
    font-family: 'Candara', sans-serif;
    font-size: inherit;
    font-size: 25px;
  /* font-weight: 600; */
  /* margin-bottom: 1rem; */
  outline: none;
  padding:  10px 20px;
  /* position: relative; */
  vertical-align: middle;
  transition: all .6s;
}

[type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #1e0072;
    box-shadow: 2px 2px 10px rgba(109, 1, 252, 0.6);
}

[type="file"]:focus + label {
  outline: 1px dotted #000;
}

.container-search .button-enviar{
  width: 180px;
  height: 50px;

  color: #fff;
  cursor: pointer;

  margin-left: 5px;

  border-radius: 15px;
  border:0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background: #08e900 ;

  font-size: 25px;
  font-family: Candara, sans-serif;

  transition: background .5s;
}

.container-search .button-enviar:hover {
  background: #00b12c ;
  box-shadow: 2px 2px 10px rgba(109, 1, 252, 0.6);
}


#go-back-button {
  position: absolute;
  right:80px;
  bottom: 30px;
  width: 180px;
  height: 60px;

  cursor: pointer;

  border-radius: 15px;
  border:0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background: rgb(208, 255, 0);

  font-size: 30px;
  font-family: Candara, sans-serif;

  transition: background .5s;
}

#go-back-button:hover {
  background: rgb(179, 219, 0);
}

.container-search input {
  background: #fff;
  border-radius: 15px;

  margin-right: 25px;
  max-width: 20%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border: 0;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;

  text-align: center;
  transition: box-shadow .4s;
}

.container-search input:focus {
  box-shadow: 2px 2px 10px rgba(109, 1, 252, 0.6);
}

.content-select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  animation-name: container-select-animation;
  animation-duration: 2s;
}
.content-select select{
  margin-right: 15px;
  width: 180px;
  height: 50px;
  font-size: 23px;
  font-family: Candara, sans-serif;
  font-weight: bold;
  color: #363C4C;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  border:0;

 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #fff;
  background-position-x: 260px;
  text-align-last: center;

  transition: box-shadow .6s;
}

.content-select select:focus {
  box-shadow: 2px 2px 10px rgba(109, 1, 252, 0.5);
}
