<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOBYDATA - Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../static/css/global.css">
  <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
  <nav>
    <div id="nav-icon" class="material-icons-round" onclick="collapseNav()">menu</div>

      
      <div class="user-name"><div class="user-circle"><i style="font-size: 35px;" class="material-icons-round">person</i></div><span>{{username}}</span></div>

    <div id="logout-icon" class="material-icons-round" onclick="logoutSession()">keyboard_tab</div>
  </nav>

  <div id="sideBar">
    <ul>
      <li>Início</li>
      <li><a href="/create_user">Cadastrar</a></li>
      <li onclick="collapseConfig()"><i class="material-icons-round">settings</i>Ferramentas</li>
      <li id="camera"><a href="/golive">GoLive</a></li>
      <li id="relatorioDeVideo"><a href="/video_report">Relatório de Vídeo</a></li>
    </ul>
  </div>

  <div class="container-title">
    <h2>Relatórios</h2>
  </div>

  <form action="relatorio" enctype="multipart/form-data" method="post">
    <div class="container-content">
      <div class="content-select">
        <h3>Selecione o tipo e a data do relatório</h3>
        <select name="TYPE" id="">
          <option disabled selected value="">escolha...</option>
          <option value="DAY">Diário</option>
          <option value="WEEK">Semanal</option>
          <option value="MONTH">Mensal</option>
        </select>
      </div>
      <div class="content-date"><input class="input-date" type="date" name="date"><i style="margin-top:150px; margin-left: 25px; font-size: 80px;" class="material-icons-round">date_range</i></div>
    </div>
    <button>Pesquisar</button>
    </form>
  
</body>
<script src="../static/js/navbar.js"></script>
<script src="../static/js/sidebar.js"></script>
</html>
